@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lobster&family=Merienda:wght@300..900&family=Quicksand:wght@300..700&family=Titan+One&display=swap');


body {
    background-color: #F3F6F5;
    font-family: 'Poppins', sans-serif;
    padding: 10px 10pxs;
}

body {
    margin-top: 0;
}

.nav-link.active {
    font-size: 2.25rem; /* Extra large */
    font-weight: 800; /* Maximum bold */
  }
  

/* ----------------- Banner Section ------------- */

.curved-bottom {
    position: relative;

    overflow: hidden;
    font-family: "Bree Serif", serif;
    font-optical-sizing: auto;
    font-weight: 700;
      font-optical-sizing: auto;
}
.curved-bottom::before {
    content: "";
    position: absolute;
    bottom: -20px; /* Moves the curve outside the box */
    left: 0;
    width: 100%;
    height: 30px; /* Height of the curve */
    background: inherit; /* Same background color as the box */
    border-radius: 50% 50% 0 0;
    
}


.box {
    /* Ensure the box has dimensions */
    width: 100%; /* Or specific width e.g., 500px */
    height: 400px; /* Adjust height as needed */
    position: relative;
    overflow: hidden; /* Ensures that any overflow from the image is hidden */
    background: linear-gradient(to right, #064C4F, #00A464); /* Gradient background */
}
.box img {
       
    /* Ensure the image covers the box */
    width: 100%;
    height: 100%;
    object-fit: cover; /* Makes the image cover the box */
    object-position: center; /* Centers the image */
}


